@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
}

.cover-hero {
  width: 100%;
  font-family: 'Lato', sans-serif;
  background: url('./img/3511744.png') no-repeat center center fixed;
  background-size: cover;
}

ul, nav{
  list-style: none;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
a h2{
  color: #fff0;
}
a:hover {
  opacity: 1;
}

.fa {
  color: #bf834e;

}
/* header styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  color: #fff;
  padding: 50px 100px 60px;
}

header nav ul {
  display: flex;
}

header nav li{
  margin: 0 15px;
}

header nav li:first-child{
  margin-left: 0; 
}

header nav li:last-child{
  margin-right: 0;  
}
.logo{
  font-size: 50px;
}

a.btn {
  color: #bf834e;
  padding: 10px;
  border: 1px solid #bf834e;
}
a.icon{
  padding: 15px 20px;
  display:none;
}

.cover  {
  height: 100vh;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cover-btn{
    padding: 15px 40px;
    color: #FFF;
    background-color: #bf834e;
    border-radius: 5px;
    border: 1px solid #bf834e;
    margin: 2rem auto;

    font-size: 1rem;
}
.btn:hover {
  background: #734c29;
  border: 1px solid #734c29;
  color: #fff;
}

.cover-btn:hover{
  background: #734c29;
  cursor: pointer;
}
.cover-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
}
 .cover-info h1 {
  font-size: 5rem;
  font-weight: 200;
  color: #bf834e;
  margin: 50px 10px 0 0 ;
  text-align: center;
}

.cover-info p {
  color: #bf834e;
  text-align: center;
  margin: 10px;
  font-size: 1.5rem;
  line-height: 1.6;
}

#cover-created {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 100px;
  font-size: 1.5rem;
  font-weight: 30px;
  color: #fff;
  cursor: pointer;
}


#home-info{
  height: 600px;

}

#home-info .info-img{
  float: left;
  width: 50%;
  background: url('https://images.unsplash.com/photo-1461023058943-07fcbe16d735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat;
  min-height: 100%;
}

#home-info .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 8rem 4rem 0 4rem;
  overflow: hidden;
  background-color: #bf834e;
  color:#fff;

}

#home-info h2{
  margin-bottom: 1rem;
  font-size: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

#home-info p{
  margin-bottom: 2.5rem;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 3rem;
  text-align: justify;
}

/* product start */
/* .product-info-container {
  width: 100%;
  font-family: 'Lato', sans-serif; */
  /* background: url('./img/product-info-bg.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
/* 
  padding: 13rem;
  height: 100%;
} */

/* .product-info {

  color: #ffffff;
  flex-direction: row ;
  margin-bottom: 5rem;
} */

/* .product-details-container { 
  display: flex;
  align-items: center; 
   justify-content: space-around; 
   text-align: center;
  color: #ffffff;;
   width: 100%; 
  height: 800px
}*/

/* .product-info-container .info-img{
  float: left;
  width: 50%;
  background: url('./img/photo-1573238886401-9372349b3366.jpeg') ;
  min-height: 100%;
} */


/* .product-info-title h1{
  
  padding: 10px 10px;
  line-height: 50px;
} */


/* .product-info-header {
  text-align: center;
  color: #ffffff;
} 

.product-info-card {
   margin: 10px;
  margin-bottom: 30px;
  padding: 10px 40px; 
   background-color: #bf834e; 
  border-radius: 10px;
  opacity: 0.9;
  min-width: 30%;
 flex-direction: row;  
 margin-right: 30px;
}*/

/* .product-icon i{
  font-size: 20px;
}
.product-info-details {
  margin-bottom: 10px;
  line-height: 10px;
}

.product-info-details {
  margin-bottom: 10px;
  line-height: 25px;
}

.product-info-details p{
  line-height: 10px;
}

.product-info-icon {
  color: #ffffff;
  margin-right: 5px;

} */

#contact-info-container {
  width: 100%;
  background: url('./img/contact-info-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 5rem ;
}

/* .contact-info {
  color: #a67041;
} */

.contact-info-title {
  text-align: center;
  display: flex;
  flex-direction: column ;
  width: 100%;
  justify-content: center;
  padding: 30px;
  margin-bottom: 10px;
}

.contact-info-title h1{
  font-size: 50px;
  margin-bottom: 10px;
}

.contact-details-container {
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  color: #000000;
  width: 100%;
}

.contact-info-card {
  margin: 10px;
  margin-bottom: 30px;

  padding: 10px 5px;
  /* border-radius: 10px; */
  /* opacity: 0.9; */
  width: 33.3%;
  color: #000000;
  
}
.contact-info-card h1{
  margin-bottom: 10px;
}
.contact-info-card:last-child h1{
  margin-bottom: 20px;

}

.contact-info-icon {
  font-size: 40px;
  color: inherit;
  margin-bottom: 2rem;
}

.news-content  {
  height: 50vh;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2e3d5;
}
.news-content h1{
  margin-bottom: 20px;
  text-transform: uppercase;
}

.news-form input[type="submit"] {
  background: #bf834e;
  border: 1px solid #bf834e;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.news-form input[type="submit"]:hover {
  background: #734c29	;
  border: 1px solid #734c29	;
}

.news-form {
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.news-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}



/* media queries  */
@media screen and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  header {
    padding: 2rem !important;
  }

  header h2 {
    margin-bottom: 15px;
    color: #bf834e;
  }

  h1 {
    font-size: 2rem;

  }
  h1,
  .cover-info p{
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  .cover {
    padding: 20px;
  }

  #cover-created {
    padding: 30px 20px;
  }

  a.icon {
    position: relative;
    right: 0;
    top: 0;
    font-size: 30px;
  }
  .topnav li:not(:last-child) {display: none;}
  .topnav a.icon{
      float: right;
      display: block;
  }
  .cover-info{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /* .product-info-container {
    padding: 100px 100px;
  }

  .product-info {
    flex-direction: column;
  }

  .product-info-title, .product-details-container {
    width: 100%;
  }

 
  .product-info-title h1{
    margin-bottom: 0;
  }
  .product-info-title h3{
    margin-bottom: 10px;
    padding: 10px 30px;
  }

  .product-info-card {
    margin-bottom: 30px;
    
  } */
  .info-img{
    display: none;
  }
  #home-info .info-content{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8rem 4rem 0 4rem;
    background-color: #bf834e;
    color:#fff;
  
  }
  .contact-details-container {
    flex-direction: column;
    margin-left: 160px;
    font-size: 1rem;

  }

  .contact-info-card h1{
    margin-bottom: 5px;
    line-height: 40px;
  }

  .contact-info-title h1 {
    margin-bottom: 5px;
  }

  #contact-info-container{
    padding: 100px 100px;
  }
}

@media screen and (max-width:600px) {
  .cover-info{
    margin-top: 10rem;
  }

  .cover-hero {
    background: none;
    font-size: 1rem;
  } 

  .product-info-container, .product-info-title{
    padding: 10px 10px;
  }
  #contact-info-container{
    padding: 10px 10px;
  }

}
.page-footer{
  text-align: center;
  padding: 20px;

}
/* .footer-copyright{
  text-align: center;
  padding: 20px;
} */

/* .list-inline-item{
  padding: 20px;
  text-align: center;
  border-radius: 5px;
} */
/* .details{
  font-size: 13px;
  line-height: 1.8;
  padding-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
} */